@model List<CoffeeShop.Models.OrderModel>;
<div class="card">
    <div class="card-body">
        
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">Order Detail</h5>
            <button class="btn btn-primary">
                <a class="text-white" asp-controller="Order" asp-action="AddOrder">
                    <i class="bi bi-plus"></i><span>Add Order</span>
                </a>
            </button>
        </div>

        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">OrderID</th>
                    <th scope="col">OrderDate</th>
                    <th scope="col">CustomerID</th>
                    <th scope="col">PaymentMode</th>
                    <th scope="col">TotalAmount</th>
                    <th scope="col">ShippingAddress</th>
                    <th scope="col">UserID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model)
                {
                    <tr>
                        <th scope="row">@o.OrderID</th>
                        <td>@o.OrderDate.ToString("yyyy-MM-dd")</td>
                        <td>@o.CustomerID</td>
                        <td>@o.PaymentMode</td>
                        <td>@o.TotalAmount</td>
                        <td>@o.ShippingAddress</td>
                        <td>@o.UserID</td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>